<link rel="stylesheet" href="/css/header.css">
<header>

    <h1> 
        <i class="fas fa-braille"></i>
        <!-- <i class="fas fa-dice-d20"></i> -->
        CODEIAL
        <!-- <i class="fas fa-hashtag"></i> -->
    </h1> 
    <ul>
        <% if(locals.user){%>
            <li>

                <i class="fas fa-female"></i>
                <a href="/users/profile"><%=user.name%></a>
            </li>

            <li>
               
                <a href="/users/sign-out"> <i class="fas fa-sign-out-alt"></i></a> 
             </li>
       <%}else{%>
            <li>
                <i class="fas fa-sign-in-alt"></i>
                <a href="/users/sign-in">Sign-In</a>
            </li>
    
            <li>
                <i class="fas fa-user-plus"></i>
                <a href="/users/sign-up"> Sign-Up</a>
            </li>
    
       <%}%>
        <li>
            
            <a href="/"><i class="fas fa-home"></i></a>
        </li>
    </ul>
</header>
        
        
        
       