footer{
    background-color: powderblue;
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    border:4px double rgb(5, 32, 5);
    box-shadow: inset 5px 5px 15px 5px rgb(120, 115, 199);
    font-size: large;
}